<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ei, <%= @email %></h1>
    <table>
      <tr>
        <td> Number </td>
        <td> Date </td>
        <td> Company Informations </td>
        <td> Charge Informations </td>
        <td> Price </td>
      </tr>
      <tr>
        <td> <%= @invoice.number %> </td>
        <td> <%= @invoice.date %> </td>
        <td> <%= @invoice.company_info %> </td>
        <td> <%= @invoice.charge_info %> </td>
        <td> <%= @invoice.price_cents %> </td>
      </tr>
    </table>
  </body>
</html>
